/* Created by Isaac*/

@import url('https://fonts.googleapis.com/css2?family=Sriracha&family=Raleway&display=swap');

body {
    font-family: Raleway;
    user-select: none;
}

#game {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: withe;
}

#menu {
    position: absolute;
        margin-top: 0;
            left: 0;
                height: 100vh;
                    width: 100vw;
                        background-image: url('https://i.pinimg.com/736x/6b/da/56/6bda5615c388b7c6d0577092e0be5d2f.jpg'); /* Cambia 'ruta/a/la/imagen/fondo.jpg' por la ruta de tu imagen de fondo */
                            background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
                                background-position: center; /* Centra la imagen en el fondo */
                                    overflow-y: scroll;
                                        overflow-x: hidden;
                                            /*display: none;*/
                                            }


#menu-heading {
    position: relative;
        margin-top: 0;
            left: 0;
                height: 80px; /* Ajustado para una apariencia más grande */
                    width: 100%;
                        backdrop-filter:blur(90px);/* Un color de fondo más vibrante */
                            font-size: 24px; /* Un tamaño de fuente más pequeño */
                                line-height: 80px; /* Coincide con la altura para centrar el texto verticalmente */
                                    text-align: center;
                                        font-weight: 700; /* Un poco más ligero que 900 para un aspecto más equilibrado */
                                            color: #fff; /* Texto en color blanco */
                                                border-bottom: 2px solid withe; /* Línea inferior para separar del contenido */
                                                    animation: fadeInDown 0.5s ease; /* Animación de entrada */
                                                        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sutil sombra para un aspecto más moderno */
                                                        }

                                                        @keyframes fadeInDown {
                                                            0% {
                                                                    opacity: 0;
                                                                            transform: translateY(-20px);
                                                                                }
                                                                                    100% {
                                                                                            opacity: 1;
                                                                                                    transform: translateY(0);
                                                                                                        }
                                                                                                        }

.lvl {
    position: relative;
    margin-top: 30px;
    left: 10px;
    width: calc(100vw - 20px);
    height: 80px;
    color: white;
    backdrop-filter:blur(5px);
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 80px;
    border-radius: 20px;
}

#level {
    z-index: 1;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url('https://i.pinimg.com/736x/ed/d5/c5/edd5c5a203f72c5e07b01906bb80c1b1.jpg');
        background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
            background-position: center; /* Centra la imagen en el fondo */
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
}

.lvl:hover {
    background-color: black;
}

.test-tube {
    position: absolute;
    height: 130px;
    width: 40px;
    border: 2px solid rgb(150,150,150);
    border-radius: 2px 2px 20px 20px;
    background-position: 0 10px;
    overflow: hidden;
    transition: 0.5s linear;
    transform: rotate(0deg);
}

@keyframes glassAnim {
    0%,100% {transform: scale(1);}
    50% {transform: scale(1.05);}
}

.colors {
    position: absolute;
    left: 0;
    height: 30px;
    width: 40px;
}

#won {
    position: absolute;
    top: 100px;
    left: 0;
    width: 100vw;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
}

#white-bg {
    position: absolute;
    left: 0;
    top: 10px;
    width: 40px;
    height: 10px;
    backdrop-filter:blur(50px);
    z-index: 1000;
    transition: 0.8s;
}

#colorful-bg {
    position: absolute;
    width: 100%;
    height: 0;
    z-index: 1000;
    transition: 0.8s;
}

#restart {
    left: 0;
}

#home {
    left: calc(100vw - 150px);
}

.game-buttons {
    position: fixed;
    top: calc(100vh - 50px);
    height: 50px;
    width: 150px;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    background-color: white;
    border-radius: 10px 10px 0 0;
}

#lvl-heading {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 100vw;;
    backdrop-filter:blur(90px);
    border-radius: 0 0 25px 25px;
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
    text-align: center;
    letter-spacing: 5px;
        
}

#moves {
    position: fixed;
    top: calc(100vh - 80px);
    width: 150px;
    height: 30px;
    left: 10px;
    font-size: 20px;
}

#rules-btn {
    position: fixed;
    left: calc(100vw - 200px);
    top: calc(100vh - 50px);
    height: 50px;
    width: 200px;
    background-color: yellow;
    border-radius: 20px 20px 0 0;
    text-align: center;
    font-size: 25px;
    line-height: 50px;
    font-weight: 500;
}

#rules-page {
    display: none;
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 1);
    opacity: 0;
    transition: 0.5s linear;
}

#rules {
    position: absolute;
    top: 100px;
    left: 50px;
    height: calc(100vh - 200px);
    width: calc(100vw - 100px);
    background-color: white;
    border-radius: 10px;
}

#rules-heading {
    position: absolute;
    top: 10px;
    left: 0;
    height: 30px;
    width: 100%;
    font-size: 30px;
    font-weight: 800;
    text-align: center;
}

#rules-text {
    position: absolute;
    top: 70px;
    left: 5%;
    width: 90%;
    font-size: 20px;
    height: calc(100vh - 200px - 150px);
    overflow-x: hidden;
}

#back {
    position: absolute;
    top: calc(100% - 120px + 65px + 10px);
    height: 40px;
    width: 100px;
    left: calc(100% - 160px);
    background-color: rgb(100, 255, 100);
    font-size: 15px;
    line-height: 37px;
    text-align: center;
    border-radius: 10px ;
}

#alert-button:hover {
    background-color: rgb(150,255,150);
}







